body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFF2E9;
  }

  @font-face {
    font-family: nvb;
    src: url(../font/nvb.TTF);
  }
  
  @font-face {
    font-family: natron;
    src: url(../font/natron.otf);
  }

  a {
    color: #626254;
    text-decoration: none;
  }

  #navbar {
    font-family: nvb;
    color: #626254;
    font-size: 40px;
    padding: 0%;
    position: absolute;
    top: 3.6%;
    left: 3.5%;
  }

  #library-button {
    width: 140px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #FFF2E9;
    background-color: #CB997E;
    font-family: natron;
    font-size: 28px;
    height: 44px;
    position: absolute;
    top: 1.8%;
    right: 3.5%;
  }

    button {
    width: 65px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #FFF2E9;
    font-family: natron;
    font-size: 20px;
    height: 50px;
    margin-top: 15px;
  }

  #backButton {
    background-color: #CB997E;
    margin-right: 2%;
  }

  #nextButton {
    background-color: #CB997E;
    margin-left: 2%;
  }
  
  
  #header {
    padding: 10px;
    color: #CB997E;
    font-size: 70px;
    font-family: natron;
    display: flex;
    justify-content: center;
    text-decoration: underline overline #CB997E;
  }


  #container {
    width: 870px;
  }
  
  #weekdays {
    width: 100%;
    display: flex;
    color: #B7B7A4;
    font-family: natron;
    font-size: 20px; 
  }

  #weekdays div {
    width: 100px;
    padding: 25px;
    padding-left: 30px;
  }

  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .day {
    color:  #FFF2E9;
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #B7B7A4;
    margin: 12px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 18px;
    font-family: natron;
    font-size: 20px;
  }

  .day:hover {
    background-color:#9A9A87;
  }
  
  .day + #currentDay {
    background-color:#9A9A87;
  }

  .event {
    font-size: 15px;
    padding: 3px;
    background-color: #FFF2E9;
    color:#9A9A87;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }

  .padding {
    cursor: default !important;
    background-color: #FFF2E9 !important;
    box-shadow: none !important;
  }

  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 30;
    padding: 20px;
    background-color: #ffecde;
    box-shadow: 0px 0px 3px rgb(71, 71, 71);
    border-radius: 20px;
    width: 350px;
    top: 25%;
    left: calc(50% - 175px);
    position: absolute;
    font-family: natron;
    font-size: 25px;
    text-align: center;
    color:#CB997E;
  }

  #eventTitleInput {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 10px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }

  #eventTitleInput.error {
    border: 2px solid  #d36c6c;
  }

  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }

  #saveButton, #closeButton {
    background-color: #626254;
  }

  #eventText {
    font-size: 25px;
    text-align: center;
    color: #626254;
  }
  
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }