body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: #FFF2E9;
  }

  @font-face {
    font-family: nvb;
    src: url(../font/nvb.TTF);
  }
  
  @font-face {
    font-family: natron;
    src: url(../font/natron.otf);
  }

    button {
    width: 65px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 10px;
    color: #FFF2E9;
    font-family: natron;
    font-size: 20px;
  }

  
  #header {
    padding: 10px;
    color: #CB997E;
    font-size: 70px;
    font-family: natron;
    display: flex;
    justify-content: center;
  }

  #header button {
    background-color:#CB997E;
  }

  #container {
    width: 770px;
  }
  
  #weekdays {
    width: 100%;
    display: flex;
    color: #B7B7A4;
    font-family: natron;
    font-size: 20px;
  }

  #weekdays div {
    width: 100px;
    padding: 10px;
  }

  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: #B7B7A4;
    margin: 10px;
    box-shadow: 0px 0px 3px #CBD4C2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 18px;
    font-family: natron;
    font-size: 20px;
  }

  .day:hover {
    background-color:#9A9A87;
  }
  
  .day + #currentDay {
    background-color:#9A9A87;
  }

  .event {
    font-size: 15px;
    padding: 3px;
    background-color: #FFF2E9;
    color:#9A9A87;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }

  .padding {
    cursor: default !important;
    background-color: #FFF2E9 !important;
    box-shadow: none !important;
  }

  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: #e8f4fa;
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
  }

  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }

  #eventTitleInput.error {
    border: 2px solid red;
  }

  #cancelButton, #deleteButton {
    background-color: #d36c6c;
  }

  #saveButton, #closeButton {
    background-color: #92a1d1;
  }

  #eventText {
    font-size: 14px;
  }
  
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
  }