body {
  margin: 0;
  background-color: #fff2e9;
}

/*-------------------- typography -------------------*/

@font-face {
  font-family: nvb;
  src: url(../font/nvb.TTF);
}

@font-face {
  font-family: natron;
  src: url(../font/natron.otf);
}

.main-heading {
  margin: 60px;
  margin-top: 120px;
  font-size: 85px;
  font-family: nvb;
  color: #6b705c;
}

.container {
  width: 780px;
  margin: 0 auto;
}

/*-------------------- header -------------------*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*-------------------- dropdown -------------------*/

.dropdown {
  position: relative;
  display: block;
  min-width: 700px;
}

.dropdown-button {
  background-color: #cb997e;
  color: #fff2e9;
  padding: 15px;
  font-size: 50px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  width: 100%;
  font-family: natron;
  box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.2); /* This adds the shadow */
}

.dropdown-button.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.dropdown-button:hover,
.dropdown-button:focus {
  /* add some focus states here if you like */
}

.dropdown-content {
  display: none;
  background-color: #ddbea9;
  border: 4px solid #cb997e;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
}

/* links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: natron;
  font-size: 30px;
  margin: 10px 20px;
  text-align: center;
}

.dropdown-content a:not(:last-child) {
  border-bottom: 4px solid #cb997e;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #d6b199;
}

/* this is the class we will use to show the dropdown values with JS */
.show {
  display: block;
}
